[credential]
	helper = osxkeychain
[user]
	email = hello@rovansteen.nl 
	name = Robert van Steen 
	signingkey = AFC3783F7F16AAAF
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[commit]
	gpgsign = true
[push]
	default = current
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[github]
	user = rovansteen
[pull]
	rebase = true
[hub]
	host = github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	sync = !/usr/local/bin/legit sync
	publish = !/usr/local/bin/legit publish
	unpublish = !/usr/local/bin/legit unpublish
	undo = !/usr/local/bin/legit undo
	branches = !/usr/local/bin/legit branches
